body {
  background-color: #1a1a1a;
  color: #e0e0e0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard {
  display: flex;
  gap: 40px;
  background-color: #252525;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  border: 1px solid #444;
}

.character-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-right: 2 px solid #333;
  padding-right: 40px;
}

.controls-panel {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: auto;
}

select,
input {
  background-color: #333;
  color: white;
  border: 1px solid #555;
  padding: 10px;
  border-radius: 5px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #aaa;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.CharacterPreview {
  margin: 500px;
}
